#records {
    padding: 10px 30px;
}

#records .header {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    margin-bottom: 40px;
}

#records .header .leftColumn {
    margin-right: 20px;
}

#records .header .rightColumn {
    text-align: left;
}

#records .header h2 {
    margin: 15px 0 10px 20px;
}

#records .header h3 {
    margin: 0 0 15px 20px; 
}

#records .borderLeft {
    border-left: 1px solid black;
}

#records .nav {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    max-width: 20%;
}

#records button {
    margin-bottom: 10px;
    height: 60px;
    max-width: 200px;
    font-family: 'Inter-SemiBold';
    font-size: 14pt;
}

#records .body {
    width: 80%
}