#records {
    padding: 10px 30px;
}

#records .header {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    margin-bottom: 40px;
}

#records .header .leftColumn {
    margin-right: 20px;
}

#records .header .rightColumn {
    text-align: left;
}

#records .header h2 {
    margin: 15px 0 10px 20px;
}

#records .header h3 {
    margin: 0 0 15px 20px; 
}

#records .borderLeft {
    border-left: 1px solid black;
}

#records .body {
    display: flex;
    display: -webkit-flex;
    height: 77vh;
}

#records .nav {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    max-width: 20%;
}

#records button {
    margin-bottom: 10px;
    height: 60px;
    max-width: 200px;
    font-family: 'Inter-SemiBold';
    font-size: 14pt;
}

#records .content {
    width: 80%;
    padding-left: 30px;
}

.card {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: white;
    border: 1px solid #DCDCDC;
    border-radius: 13px;
    padding: 2.5em 3em;
    margin-bottom: 2em;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.05);
}