.tss-8ai1ls-MUIDataTableToolbarSelect-deleteIcon {
    display: none !important;
}
.tss-1dqj55d-MUIDataTableToolbarSelect-root {
    display:none !important;
}

.tss-tlx3x1-MUIDataTableToolbar-root {
    display: flex !important;
}

.css-11mde6h-MuiPaper-root {
    border-radius: 12px !important;
    box-shadow: 0px 2px 2px 0px rgb(0 0 0 / 20%), 0px 1px 4px 0px rgb(0 0 0 / 14%), -1px 1px 11px 0px rgb(0 0 0 / 12%) !important;
}

.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.Mui-checked, .css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.MuiCheckbox-indeterminate {
    color: #5F5A5A !important;
}

.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root {
    color: #5F5A5A !important;
}

.css-1q1u3t4-MuiTableRow-root.Mui-selected {
    background-color: rgb(211 223 249 / 27%) !important;
}

.css-ahj2mt-MuiTypography-root {
    font-family: 'Inter-Regular' !important;
}

.css-1x51dt5-MuiInputBase-input-MuiInput-input {
    font-family: 'Inter-Regular' !important;
}

.css-1ex1afd-MuiTableCell-root {
    font-family: 'Inter-Regular' !important;
    text-align: center !important;
}

.css-1qgma8u-MuiButtonBase-root-MuiTableSortLabel-root.Mui-active .MuiTableSortLabel-icon {
    color: #5F5A5A !important;
}

.css-1w1rijm-MuiButtonBase-root-MuiButton-root {
    width: 100% !important;
    font-family: 'Inter-SemiBold' !important;
}

.tss-178gktx-MUIDataTableHeadCell-contentWrapper {
    width: 100% !important;
    justify-content: center !important;
}

.css-hbtnrh-MuiTableCell-root {
    background-color: #5f5a5a0d !important;
}

.css-1ygcj2i-MuiTableCell-root {
    background-color: #5f5a5a0d !important;
}

.css-rppfq7-MuiButtonBase-root-MuiPaginationItem-root {
    font-family: 'Inter-SemiBold' !important;
    color: #4F734B !important;
}

.css-ghsjzk-MuiInputBase-root-MuiInput-root:after {
    border-bottom: 2px solid #4F734B !important;
}

#records td p {
    color: #5F5A5A;
    font-family: 'Inter-Medium';
    margin-right: 15px;
}

.tss-mwfche-MUIDataTableBodyRow-root:hover {
    cursor: pointer;
}

.filterPopover {
    min-width: 400px;
    min-height: 200px;
    padding: 10px;
}

.filterPopover p {
    margin: 0 0 5px 0;
}

.css-78trlr-MuiButtonBase-root-MuiIconButton-root:hover {
    background-color: transparent !important;
}

.css-78trlr-MuiButtonBase-root-MuiIconButton-root {
    padding: 0 !important;
}

.MuiTooltip-tooltip {
    display: none !important;
}

.css-ubpweo-MuiPaper-root-MuiPopover-paper {
    top: 340px !important;
    left: 500px !important;
    transform-origin: 400px 0px !important;
}

.tss-5r15im-MUIDataTableToolbar-filterCloseIcon {
    margin: 5px !important;
}

.css-e784if-MuiTypography-root {
    font-family: 'Inter-Medium' !important;
    font-size: 12pt !important;
    padding-right: 10px !important;
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
    vertical-align: baseline !important;
    padding: 0 !important;
    font-size: 12pt !important;
    font-family: 'Inter-Medium' !important;
}

.css-10hburv-MuiTypography-root {
    font-family: 'Inter-Regular' !important;
}

.css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input.MuiSelect-select {
    font-family: 'Inter-Regular' !important;
}

.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root {
    font-family: 'Inter-Regular' !important;
}

.css-6od3lo-MuiChip-label {
    font-family: 'Inter-Regular' !important;
}

.css-yf8vq0-MuiSelect-nativeInput::-moz-placeholder {
    font-family: 'monospace' !important;
}

.tss-1vsygk-MUIDataTableFilterList-root {
    margin: 0px 16px 7px 16px !important;
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
    color: #2d1ad5 !important;
}

.css-iqd1hh-MuiButtonBase-root-MuiChip-root {
    margin-right: 5px !important;
}

@media print {
    div {
      display: table;
    }
  }